@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Open+Sans:wght@400;600&family=Rubik+Spray+Paint&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background: #E6E6E6;
    color: #000000;
}
.container-fluid{
  overflow-y:hidden;
}
.header{
    min-height: 12vh;
    min-width: 100vh;
    background: #c2c2c2;
}
.title{
  font-size: 35px;
  color: #3c3c3c;
  font-family: Impact;
}
input{
  background: #eaeaea !important;
}
.theme_l{
  font-size: 20px;
  font-family: Verdana;
}
.theme_d{
  font-size: 18px;
  font-family: Verdana;
}
/* .searchh{
  align-items: center;
} */
.base{
  min-height: 88vh;
  min-width: 100vh;
}
.code{
    border: solid 1px #3c3c3c;
    border-radius: 5px;
    margin-bottom: 20px;
}
.case{
  margin-bottom: 20px;
}
span{
  color: rgb(186, 35, 136);
}
span1{
  color: #621585;
}
.text{
  padding: 2%;
}
.fs-4{
  color: rgb(0, 0, 0);
  text-decoration: none; 

}

.nav-link{
  color: rgb(0, 0, 0) !important;
  text-decoration: none; 
  transition: .5s;
}
.nav-link:hover{
  text-decoration: wavy;
  color: #707070!important;
}
.ss{
  padding-left: 10px;
}
.qq{
  font-size: 18px;
}

body::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
  }
  
  body::-webkit-scrollbar-track {
  background: white; /* цвет дорожки */
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: #c2c2c2; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid white; /*padding вокруг плашки*/
  }