@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Open+Sans:wght@400;600&family=Rubik+Spray+Paint&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background: #606060;
    color: #E6E6E6;
}
.container-fluid{
  overflow-y:hidden;
}
.header{
    min-height: 12vh;
    min-width: 100vh;
    background: #3C3C3C;
}
input {
  background: #707070 !important;
}
.title{
  font-size: 35px;
  font-family: Impact;
}
.theme_l{
  font-size: 18px;
  font-family: Verdana;
}
.theme_d{
  font-size: 20px;
  font-family: Verdana;
}
/* .searchh{
  align-items: center;
} */
.base{
  min-height: 88vh;
  min-width: 100vh;
}
.code{
    border: solid 1px #3c3c3c;
    border-radius: 5px;
    margin-bottom: 20px;
}
.case{
  margin-bottom: 20px;
}
span{
  color: aqua;
}
span1{
  color: #1ee650;
}
.text{
  padding: 2%;
}

.nav-link{
  color: #E6E6E6!important;
  text-decoration: none; 
  transition: .5s;
}
.nav-link:hover{
  text-decoration: wavy;
  color: #ffffff!important;
}
.ss{
  padding-left: 10px;
}

.qq{
  font-size: 18px;
}

body::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
  }
  
  body::-webkit-scrollbar-track {
  background: #707070; /* цвет дорожки */
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: #C2C2C2; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid #606060; /*padding вокруг плашки*/
  }